[Unit]
Description=transmission-rss
Requires=

[Service]
ExecStart=/home/asutorufa/Documents/Programming/transmission-rss/transmission-rss -path /home/asutorufa/.config/transmission-rss -host 0.0.0.0:9093
Restart=always
RestartSec=30
# StandardOutput=append:/tmp/yuhaiin/logs/log1.log
# StandardError=append:/tmp/yuhaiin/logs/log2.log
Slice=transmission-rss.slice

[Install]
Also=
WantedBy=default.target